/**
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * Styles for displaying register page.
 */

@import "../../shared/theme/cgl.vars";

:host {
    h1 {
        color: $cgl-peach;
    }
    p {
        max-width: $md-md-min;
    }
}
