<div class="layout-column layout-padding">
    <bw-file-summary [summary]="selectFileSummary$ | async"></bw-file-summary>
    <bw-file-filter-wrapper
            [selectedFacets]="selectedFileFacets$ | async"
            [fileFacets]="fileFacets$ | async">
    </bw-file-filter-wrapper>
    <bw-file-facets [fileFacets]="fileFacets$ | async">
    </bw-file-facets>
    <button class="cgl-fab"
            mat-fab
            matTooltip="Download Manifest"
            [matTooltipPosition]="'before'"
            (click)="onDownloadManifest()">
        <mat-icon>file_download</mat-icon>
    </button>
    <button class="cgl-fab cgl-fab2"
            mat-fab
            matTooltip="Export to FireCloud"
            [matTooltipPosition]="'before'"
            (click)="onExportToFireCloud()">
        <mat-icon svgIcon="firecloud"></mat-icon>
    </button>
    <bw-table></bw-table>
</div>
