<h1 mat-dialog-title>Export to FireCloud</h1>
<div mat-dialog-content>
    <mat-progress-bar mode="indeterminate" *ngIf="exporting"></mat-progress-bar>
    <p *ngIf="exported">The selected files were exported to the FireCloud <a [href]="firecloudUrl" target="_blank">{{data.workspace}} workspace. <mat-icon style="font-size: 16px;">launch</mat-icon></a></p>
    <p *ngIf="errorMessage">There was an error exporting to FireCloud: {{errorMessage}}</p>
    <div *ngIf="!exported && !errorMessage">
        <p>Export the selected facets into a FireCloud workspace.</p>
        <div class="column-flex">
            <mat-form-field>
                <mat-select placeholder="Billing project" [(value)]="data.namespace" [disabled]="exporting" required (change)="onBillingProjectChanged($event)">
                    <mat-option *ngFor="let namespace of billingProjects" [value]="namespace">{{namespace}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-radio-group [(ngModel)]="workspaceType" (change)="onWorkspaceTypeChanged($event)">
                <mat-radio-button value="new" [disabled]="!canCreateWorkspace">New workspace</mat-radio-button>
                <mat-radio-button value="existing">Existing workspace</mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf="workspaceType === 'new'">
                <input matInput [(ngModel)]="data.workspace" placeholder="Workspace" required autofocus [disabled]="exporting">
            </mat-form-field>
            <mat-form-field *ngIf="workspaceType === 'existing'">
                <mat-select placeholder="Workspace" [disabled]="exporting" [(value)]="data.workspace" required>
                    <mat-option *ngFor="let workspace of filteredWorkspaces" [value]="workspace.workspace.name">{{workspace.workspace.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onClose()" *ngIf="!exported && !errorMessage">Cancel</button>
    <button mat-button (click)="onExport()" *ngIf="!exported && !errorMessage" [disabled]="exporting || !data.workspace">{{exporting ? 'Exporting...' : 'Export'}}</button>
    <button mat-button (click)="onClose()" *ngIf="exported || errorMessage">Close</button>
</div>
