<mat-card>
    <div class="layout-column layout-gt-sm-row">
        <div class="layout-padding flex summary-count project">
            <div>
                <h3 class="mat-headline">{{summary.projectCount | localeString}}</h3>
                <span class="md-body-1">Projects</span>
            </div>
        </div>
        <div class="layout-padding flex summary-count body-part">
            <div>
                <h3 class="mat-headline">{{summary.bodyPartsCounts | localeString}}</h3>
                <span class="md-body-1">Body Parts</span>
            </div>
        </div>
        <div class="layout-padding flex summary-count donor">
            <div>
                <h3 class="mat-headline">{{summary.sampleCount | localeString}}</h3>
                <span class="md-body-1">Samples</span>
            </div>
        </div>
        <div class="layout-padding flex summary-count file">
            <div>
                <h3 class="mat-headline">{{summary.fileCount | localeString}}</h3>
                <span class="md-body-1">Files</span>
            </div>
        </div>
        <div class="layout-padding flex summary-count size">
            <div>
                <h3 class="mat-headline">{{summary.totalFileSize | fileSize}}</h3>
                <span class="md-body-1">File Size</span>
            </div>
        </div>
    </div>
</mat-card>
