/*!
 * UCSC Genomics Institute - CGL
 * https://cgl.genomics.ucsc.edu/
 *
 * File filter styles.
 */
@import "../../shared/theme/cgl.vars";

:host {
    flex: 1;

    /* Search input */
    mat-form-field {
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 2px;
        padding: 0 16px;
        width: calc(100% - 34px); /* Includes padding and borders */

        /* Underline */
        // TODO deep deprecated
        /deep/ .mat-form-field-underline {
            background-color: transparent;

            /deep/ .mat-form-field-ripple {
                background-color: transparent;
            }
        }
    }
}

/* mat-option panel */
// TODO deep deprecated
/deep/ .mat-autocomplete-panel {
    margin: 19px -16px; /* Panel to take up full width + opens below search box */
}

/* mat-option list */
// TODO deep deprecated
/deep/ .mat-option {
    > span {
        align-items: center;
        display: flex;
        justify-content: space-between;

        /* Ellipsis of term name if required */
        > span:first-of-type {
            overflow: hidden;
            padding-right: 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

/**
 * Small +
 */
@media (min-width: $md-sm-min) {

    :host {
        max-width: calc(50% - 8px); // Matches width of facet card
    }
}

/**
 * Medium +
 */
@media (min-width: $md-md-min) {

    :host {
        max-width: calc((50% - 8px) / 2 - 8px); // Matches width of facet card
    }
}

/**
 * Large +
 */
@media (min-width: $md-lg-min) {

    :host {
        max-width: calc((100% + 16px) / 5 - 16px); // Matches width of facet card
    }
}
